@model jotun.Models.CategoryViewModels
@{
    ViewBag.Title = "Edit";
}

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div style="background-color:#e9ecef; padding:15px;">
        <h4>Edit Category</h4>
        <hr />
        <div class="center-block" style="background-color:transparent">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.Status)


            <div class="form-group">
                <div class="row">
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group ">
                            @Html.Label("Date Updated", new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @* @Html.TextBoxFor(m => m.CreatedDate, new { @class = " form-control", @readonly = "readonly" })*@

                                @Html.LabelFor(m => m.UpdatedDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = " form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            <span style=" float:left">
                                @Html.Label("Category Name(Eng)", new { @class = "col-md-12 control-label" })
                            </span>
                            <span style="color:red; float:left; font-size:20px">*</span>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.CategoryNameEng, new { @class = "form-control categoryeng", id = "Username", onkeyup = "UserCheck()", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.CategoryNameEng, "", new { @class = "text-danger", id = "st" })

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group" style="background-color:transparent; margin-top:-15px">
                <div class="row">
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            @Html.Label("Category Name(Kh)", new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.CategoryNameKh, new { @class = "form-control categorykh", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            @Html.Label("Description", new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" class="btn btn-primary kkkk" value="Save" />
                    <input type="reset" value="Cancel" class="btn btn-danger" onclick="window.location='/Category';" />

                </div>
            </div>
        </div>

    </div>


    @section Scripts {
        <script>
            $(function () {
                $(".categoryeng").change(function () {
                    if ($('.categoryeng').val() != "") {
                        //$(".unitnamekh").prop("disabled", true);
                        $(".categorykh").val("");
                    } else {
                        $(".categorykh").prop("disabled", false);
                        $(".categorykh").val("");
                    }
                });
                $(".categorykh").change(function () {
                    if ($('.categorykh').val() != "") {
                        //$(".unitnameeng").prop("disabled", true);
                        $(".categoryeng").val("");
                    } else {
                        $(".categoryeng").prop("disabled", false);
                        $(".categoryeng").val("");
                    }
                });
            });

        </script>
        <script>
                function UserCheck() {
                    $.post("@Url.Action("CheckUsernameAvailability", "Category")",
                    {
                        userdata: $("#Username").val()
                    },
                function (data) {
                    if (data == 0) {
                        $("#Username").css("border-color", "Green");
                        $('.kkkk').removeAttr('disabled');
                        $("#st").html('');
                    }
                    else {
                        $("#st").html('<font color="Red">That name is taken.Try Another.</font>');
                        $("#Username").css("border-color", "Red");
                        $('.kkkk').attr('disabled', 'disabled');
                    }
                });
            }
           
        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }

}




































