@model jotun.Models.SaleViewModels

@{
    ViewBag.Title = "Index";
    ViewBag.saleactive = "aactive";
}

<style>
    #printerDiv iframe {
        position: absolute;
        top: -1000px;
    }
</style>

@using (Html.BeginForm("Index", "Sale", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div style="background-color:#e9ecef; padding:15px;">
        <h4>Sale Operation</h4>
        <hr />
        <div id="divPDF">
            <div id="printerDiv"><iframe id="frmPDF"></iframe></div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12" style="background-color:transparent;">
                <div class="col-md-12" style="background-color:transparent">
                    <div class="row" style="margin-left:-23px !important">
                        @*<div class="col-md-1 ">
                                <a href="/Sale/Create/" class="btn btn-primary" style="margin-top:25px ; margin-left: 20px">Add New</a>
                            </div>
                            <div class="col-md-2 ">
                                <span>From Date:</span>
                                @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @class = "form-control", @id = "orderDate1", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <span>To Date:</span>
                                @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @class = "form-control", id = "orderDate", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <input type="hidden" />
                                <input style="margin-top:25px" type="button" id="Generrate" class="btn btn-success" value="Generate" />
                            </div>*@
                        <div class="col-md-6" style="background-color:white; border: 1px solid #d9d6d0; border-radius:5px ; padding-bottom:7px">
                            <p style="margin-bottom:-13px">Operation</p>
                            <hr />
                            <div class="row" style="margin-top:-15px">
                                <div class="col-md-3 " style="background-color:none; ">
                                    <a href="/Sale/Create/" class="btn btn-primary" style="margin-top:24px ; margin-left: 0px">Add New</a>
                                </div>
                                <div class="col-md-3 ">
                                    <span>From Date:</span>
                                    @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @class = "form-control", @id = "orderDate1", autocomplete = "off" })
                                </div>
                                <div class="col-md-3">
                                    <span>To Date:</span>
                                    @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @class = "form-control", id = "orderDate", autocomplete = "off" })
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" />
                                    <input style="margin-top:25px" type="button" id="Generrate" class="btn btn-success" value="Generate" />
                                </div>
                            </div>
                        </div>
                        <div style="width:20px;"></div>

                        <div class="col-md-5" style="background-color:white; border: 1px solid #d9d6d0; border-radius:5px ; padding-bottom:7px">
                            <p style="margin-bottom:-13px">Customer Sale History</p>
                            <hr />
                            <div class="row" style="margin-top:-15px">
                                <div class="col-md-4">
                                    <span>Customer:</span>
                                    @Html.TextBoxFor(m => m.CustomerName, new { id = "cust", @class = "form-control CustomerName", autocomplete = "off" })
                                    <input type="hidden" id="custid" />
                                </div>
                                <div class="col-md-4">
                                    <span>Phone:</span>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { id = "custphone", @class = "form-control PhoneNumber", autocomplete = "off" })
                                </div>
                                <div class="col-md-4" id="history_block">
                                    <span hidden>history</span><br />
                                    <a href="#" id="cus_history_report" onclick="funExportToPDF()">History</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <a href="/Sale/CustomerHistory" class="btn btn-primary" style="margin-top:24px;">View History</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <table style="background-color:white;" id="userstable" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th>Discount($)</th>
                    <th>Receivced From Customer</th>
                    <th>Owe</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Created Date</th>
                    <th>Invoice No</th>
                    <th>Generate Invoice</th>
                </tr>
            </thead>

        </table>

    </div>
    <link href="~/Scripts/datatables.min.css" rel="stylesheet" />
    @section Scripts{

        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/sc-2.0.1/datatables.min.js"></script>*@
        <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/datatables.min.js"></script>

        <script>
            $('#history_block').hide();
            function funExportToPDF() {
                $('#cus_history_report').text("Waiting...");
            $.ajax({
                url: '@Url.Action("ExportToPDFSaleDetailHistoryByCustomer", "Report")',
                type: 'GET',
                data: { customerid: $('#custid').val(),  },
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $('#frmPDF').attr('src', '@Url.Content("~/")' + result);
                    setTimeout(function () {
                        frame = document.getElementById("frmPDF");
                        frameframedoc = frame.contentWindow;
                        console.log(frameframedoc);
                        console.log(frame);
                        frameframedoc.focus();
                        frameframedoc.print();

                        $.ajax({
                            url: '@Url.Action("ExportToPDFRemove", "Report")',
                            data: { id: '@Url.Content("~/")' + result },
                            type: 'GET',
                        });
                        $('#cus_history_report').text("History");

                    }, 3000);

                },
                error: function (xhr, status, err) {
                    alert(err);
                    $.ajax({
                         url: '@Url.Action("ExportToPDFRemove", "Report")',
                         data: { id: '@Url.Content("~/")' + result },
                         type: 'GET',
                     });
                }
            });
            return false;
        }
            $(function () {
                $('#orderDate').datepicker({
                    dateFormat: 'dd-MM-yy'
                }).datepicker("setDate", new Date());
            });
            $(function () {
                $('#orderDate1').datepicker({
                    dateFormat: 'dd-MM-yy'
                }).datepicker("setDate", new Date());
            });
            $(document).ready(function () {
                var Todate = $('#orderDate').val();
                var FromDate = $('#orderDate1').val();
                console.log(Todate);
                console.log(FromDate);


                var t = $("#userstable").DataTable({
                    "autoWidth": false,
                    "scrollX": true,
                    "initComplete": function (settings, json) {
                        $('#userstable thead tr').css({ visibility: 'collapse' });
                    },
                    "ajax": {
                        "url": "/Sale/GetSale",
                        "type": "GET",
                        "datatype": "json",
                        "data": { 'Todate': Todate, 'FromDate': FromDate },
                    },

                    "columns": [
                        { "data": "Id" },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Sale/Details/' + full.Id + '">' + full.CustomerId + '</a>';
                            }
                        },

                        { "data": "ProjectLocation" },
                        { "data": "Amount" },
                        { "data": "Discount" },
                        { "data": "RevicedFromCustomer" },
                        { "data": "Owe" },
                        { "data": "InvoiceStatus" },
                        { "data": "Description" },
                        { "data": "CreatedDate" },
                        { "data": "InvoiceNo" },

                        {
                            "render": function (data, type, full, meta) {
                                //  return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>' + ' | ' + '<a href="/Sale/InvoiceReportWithPaid/' + full.Id + '">' + "Paid" + '</a>';
                                return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>';
                            }
                        },

                    ],

                    "columnDefs": [{ type: 'date', 'targets': [9] }],
                    "order": [[9, "desc"]],
                });

                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

            });
            $(function () {
                    $('#cust').autocomplete({
                        source: '@Url.Action("getCust", "Sale")',
                        select: function (event, ui) {
                            var selectedObj = ui.item;
                            var id = selectedObj.id;
                            var pn = selectedObj.label;
                            var p = selectedObj.label2;
                            var status = selectedObj.status;
                            $('#custid').val(pn);
                            $('#custid').val(id);
                            if (p == "") {
                                $('#custphone').val("Not Phone");
                            } else {
                                $('#custphone').val(p);
                            }

                            $('#history_block').show();
                            Check();
                        }
                    })
        });
        $(function () {
                    $('#custphone').autocomplete({
                        source: '@Url.Action("getCustPhone", "Sale")',
                        select: function (event, ui) {
                            var selectedObj = ui.item;
                            var id = selectedObj.id;
                            var pn = selectedObj.label;
                            var p = selectedObj.label2;
                            var status = selectedObj.status;
                            $('#custid').val(pn);
                            $('#custid').val(id);
                            $('#cust').val(p);
                            $('#history_block').show();
                            Check();
                        }
                    })
        });

        $('#cust').mouseout(function (e) {
            if ($('#cust').val() == "") {
                $('#custid').val("");
                $('#custphone').val("");
                $('#history_block').hide();

            }
        });
        $('#custphone').mouseout(function (e) {
            if ($('#custphone').val() == "") {
                $('#custid').val("");
                $('#cust').val("");
                $('#history_block').hide();

            }
        });
            function Check() {
                loadInvoiceByCustomer();
            }
            function getFormattedDateDDMMYYYY(date) {
                var year = date.getFullYear();

                var month = (1 + date.getMonth()).toString();
                month = month.length > 1 ? month : '0' + month;

                var day = date.getDate().toString();
                day = day.length > 1 ? day : '0' + day;

                return month + '/' + day + '/' + year;
            }


            $('#Generrate').click(function (e) {
                //  var SalessViewModel = {
                //$('#userstable').dataTable().fnDestroy();
                //$('#userstable').dataTable().fnClearTable();

                var Todate = $('#orderDate').val();
                var FromDate = $('#orderDate1').val();



                var t = $("#userstable").DataTable({
                    "autoWidth": false,
                    "scrollX": true,
                    "initComplete": function (settings, json) {
                        $('#userstable thead tr').css({ visibility: 'collapse' });
                    },
                    "ajax": {
                        "url": "/Sale/GetSale",
                        "type": "GET",
                        "datatype": "json",
                        "data": { 'Todate': Todate, 'FromDate': FromDate },
                    },

                    "columns": [
                        { "data": "Id" },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Sale/Details/' + full.Id + '">' + full.CustomerId + '</a>';
                            }
                        },

                        { "data": "ProjectLocation" },
                        { "data": "Amount" },
                        { "data": "Discount" },
                        { "data": "RevicedFromCustomer" },
                        { "data": "Owe" },
                        { "data": "InvoiceStatus" },
                        { "data": "Description" },
                        { "data": "CreatedDate" },
                        { "data": "InvoiceNo" },

                        {
                            "render": function (data, type, full, meta) {
                                //  return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>' + ' | ' + '<a href="/Sale/InvoiceReportWithPaid/' + full.Id + '">' + "Paid" + '</a>';
                                return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>';
                            }
                        },

                    ],

                    "columnDefs": [{ type: 'date', 'targets': [10] }],
                    "bDestroy": true,
                    "order": [[10, "desc"]],
                });

                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();



            });


            function loadInvoiceByCustomer() {
                var customerId = $('#custid').val();
                var t = $("#userstable").DataTable({
                    "autoWidth": false,
                    "scrollX": true,
                    "initComplete": function (settings, json) {
                        $('#userstable thead tr').css({ visibility: 'collapse' });
                    },
                    "ajax": {
                        "url": "/Sale/getCustomerHistory",
                        "type": "GET",
                        "datatype": "json",
                        "data": { 'customer_id': customerId, 'old_record': true },
                    },

                    "columns": [
                        { "data": "Id" },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Sale/Details/' + full.Id + '">' + full.CustomerId + '</a>';
                            }
                        },

                        { "data": "ProjectLocation" },
                        { "data": "Amount" },
                        { "data": "Discount" },
                        { "data": "RevicedFromCustomer" },
                        { "data": "Owe" },
                        { "data": "InvoiceStatus" },
                        { "data": "Description" },
                        { "data": "CreatedDate" },
                        { "data": "InvoiceNo" },

                        {
                            "render": function (data, type, full, meta) {
                                //  return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>' + ' | ' + '<a href="/Sale/InvoiceReportWithPaid/' + full.Id + '">' + "Paid" + '</a>';
                                return '<a  href="/Sale/InvoiceReport/' + full.Id + '">' + "Print" + '</a>';
                            }
                        },

                    ],

                    "columnDefs": [{ type: 'date', 'targets': [10] }],
                    "bDestroy": true,
                    "order": [[10, "desc"]],
                });

                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            };

            $('#clear').click(function (e) {
                $('#userstable').dataTable().fnDestroy();
                $('#userstable').dataTable().fnClearTable();

            })
        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }
}
