@model jotun.Models.AccountingViewModel

<form id="editAccountTypeForm" method="post" action="@Url.Action("EditAccountType", "Accounting")">
    @Html.AntiForgeryToken()

    <div class="card-body">
        @for (int i = 0; i < Model.EditAccountTypes.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(m => m.EditAccountTypes[i].Id)

                <div class="col-md-12 mb-3">
                    @Html.HiddenFor(m => m.EditAccountTypes[i].Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.EditAccountTypes[i].Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.EditAccountTypes[i].Name, new { @class = "form-control", placeholder = "Enter Account Type Name" })
                        @Html.ValidationMessageFor(m => m.EditAccountTypes[i].Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 mb-3">                  
                    <div class="form-group">
                        @Html.LabelFor(m => m.EditAccountTypes[i].Code, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.EditAccountTypes[i].Code, new { @class = "form-control", placeholder = "Enter Account Type Code" })
                        @Html.ValidationMessageFor(m => m.EditAccountTypes[i].Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.EditAccountTypes[i].Description, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.EditAccountTypes[i].Description, new { @class = "form-control", placeholder = "Enter Description", rows = 4 })
                        @Html.ValidationMessageFor(m => m.EditAccountTypes[i].Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 2px;">
                <i class="bi bi-x-circle"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" style="margin-left: 2px;">
                <i class="bi bi-save"></i> Save
            </button>
        </div>
    </div>
</form>

<script>
    $("#editAccountTypeForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    $('#editAccountTypeModal').modal('hide');
                    window.location.href = '@Url.Action("AccountType", "Accounting")';
                }
            },
            error: function(xhr, status, error) {
                alert("There was an error updating the account type.");
            }
        });
    });
</script>
