@model jotun.Models.ShipperViewModels
@{
    ViewBag.Title = "Detail";
}




@using (Html.BeginForm("Detail", "Shipper", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div style="background-color:#e9ecef; padding:15px;">
        <h4>Detail Shipper</h4>
        <hr />
        <div class="center-block" style="background-color:transparent">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Status)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            Are you sure you want to delete?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <input type="reset" value="Delete" i class="btn btn-danger" onclick="window.location='/Shipper/Delete/@Html.ValueFor(model => model.Id)';" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group ">
                            @Html.Label("Date", new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.CreatedDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = " form-control", @readonly = "readonly" })
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:transparent;">
                        <div class="form-group">

                            <span style=" float:left">
                                @Html.Label("Shipper Name", new { @class = "col-md-12 control-label disabled" })
                            </span>
                            <span style="color:red; float:left; font-size:20px">*</span>

                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control ", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group" style="background-color:transparent; margin-top:-15px">
                <div class="row">
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            <span style=" float:left">
                                @Html.Label("Contact Name", new { @class = "col-md-12 control-label" })
                            </span>
                            <span style="color:red; float:left; font-size:20px">*</span>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            <span style=" float:left">
                                @Html.Label("Contact Phone", new { @class = "col-md-12 control-label" })
                            </span>
                            <span style="color:red; float:left; font-size:20px">*</span>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.ContactPhone, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="background-color:transparent; margin-top:-15px">
                <div class="row">
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            <span style=" float:left">
                                @Html.Label("Gender", new { @class = "col-md-12 control-label" })
                            </span>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @readonly = "readonly" })


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:transparent">
                        <div class="form-group">
                            <span style=" float:left">
                                @Html.Label("Address", new { @class = "col-md-12 control-label" })
                            </span>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group" style="background-color:transparent; margin-top:-15px">
                <div class="row">
                    <div class="col-md-8" style="background-color:transparent">
                        <div class="form-group">
                            @Html.Label("Noted", new { @class = "col-md-3 control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.Noted, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="reset" value="Edit" class="btn btn-info" onclick="window.location='/Shipper/Edit/@Html.ValueFor(model => model.Id)';" />
                    <input type="reset" value="Delete" id="kosalid" class="btn btn-danger" data-toggle="modal" data-target="#myModal" />
                    <input type="reset" value="Cancel" class="btn btn-danger" onclick="window.location='/Shipper';" />

                </div>
            </div>


        </div>

    </div>


    @section Scripts {
        @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

        @*<script>

            $(function () {
                //$("#SelectedDate").datepicker({ dateFormat: 'dd/mm/yy' });
                $("#SelectedDate").datepicker({ disabled: true, }).datepicker("setDate", new Date());

                //$("#SelectedDate").datepicker({
                //    dateFormat: 'dd/mm/yy', showButtonPanel: true,
                //    currentText: "Today:" + $.datepicker.formatDate('MM dd, yy', new Date())
                //});
            });
       

                                                                        //$.fn.dataTable.ext.errMode = 'throw';
        </script>*@

        @Scripts.Render("~/bundles/jqueryval")
    }

}




































