@model jotun.Models.CustomerViewModels
@{
    ViewBag.Title = "Index";
    ViewBag.customeractive = "aactive";

}

@*<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>*@

@using (Html.BeginForm("Index", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div style="background-color:#e9ecef; padding:15px;">
        <h4>Customer Operation</h4>
        <hr />

        <a href="/Customer/Create/" class="btn btn-primary">Add New</a>
        @*<a class="btn btn-default" data-toggle="modal" data-target="#myModal">Add New</a>*@
        <br />
        <br />
        <div class="modal fade" id="myModalEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create New User Account</h3>
                        <a href="#" class="close" data-dismiss="modal"></a>
                    </div>

                    <div class="modal-body" style="background-color:transparent;  ">
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create New User Account</h3>
                        <a href="#" class="close" data-dismiss="modal"></a>
                    </div>

                    <div class="modal-body" style="background-color:transparent;  ">
                        <div class="center-block" style="background-color:transparent">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Id", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Customer Name", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Phone Number", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Project Location", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.ProjectLocation, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Gender", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.DropDownList("Gender", new List<SelectListItem>{

                                         new SelectListItem{ Text="Male", Value="Male"},
                                         new SelectListItem{ Text="Female", Value="Female"},
                                         new SelectListItem{ Text="Other", Value="Other"},
                                         }, "--- Select ---", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Noted", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Noted, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Created Date", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.CreatedDate, new { @class = "form-control getCurrentDate" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <table style="background-color:white;" id="userstable" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CustomerNo</th>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    @*<th>Project Location</th>*@
                    <th>Gender</th>
                    <th>Noted</th>
                    <th>Date</th>
                    @*<th>Status</th>*@
                    @*<th>Action</th>*@
                    @*<th>Action</th>*@
                </tr>

            </thead>
        </table>
    </div>
    @*<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/sc-2.0.1/datatables.min.css" />*@
    <link href="~/Content/vendor/datatables/datatables.min.css" rel="stylesheet" />
    @section Scripts {

        @*<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script href="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>*@
        @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/sc-2.0.1/datatables.min.js"></script>*@
        <script src="~/Scripts/datatables.min.js"></script>


        <script>

            $(document).ready(function () {
                var t = $("#userstable").DataTable({
                    //"bLengthChange": false,
                    //"scrollX": true, //Do Not Use This (Remove This Line)
                    //"scrollXInner": true,
                    //"dom": 'frtp',
                    "autoWidth": false,
                    "scrollX": true,
                    "initComplete": function (settings, json) {
                        $('#userstable thead tr').css({ visibility: 'collapse' });
                    },
                    "ajax": {
                        "url": "/Customer/GetCustomerData",
                        "type": "GET",
                        "datatype": "json",

                    },
              
                    "columns": [
                         //{"data": "Id"},
                        //{ "data": "CustomerName" },
                        //{ "data": "PhoneNumber" },
                        //{ "data": "ProjectLocation" },
                        //{ "data": "Gender" },
                        //{ "data": "Noted" },
                        { "data": "Id" },

                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Customer/Detail/' + full.Id + '">' + full.CustomerNo + '</a>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Customer/Detail/' + full.Id + '">' + full.CustomerName + '</a>';
                            }
                        },

                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Customer/Detail/' + full.Id + '">' + full.PhoneNumber + '</a>';
                            }
                        },  
                        

                        //{
                        //    "render": function (data, type, full, meta) {
                        //        return '<a href="/Customer/Detail/' + full.Id + '">' + full.ProjectLocation + '</a>';
                        //    }
                        //},     

                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Customer/Detail/' + full.Id + '">' + full.Gender + '</a>';
                            }
                        },     

                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="/Customer/Detail/' + full.Id + '">' + full.Noted + '</a>';
                            }
                        }, 

                       { "data": "CreatedDate" },





                    ],

                     "columnDefs": [{ type: 'date', 'targets': [6] }],
                    "order": [[6, "desc"]], 



                });
                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

            });
             //$.fn.dataTable.ext.errMode = 'throw';

        </script>

        @Scripts.Render("~/bundles/jqueryval")
    }

}



